<div class="container">
    <div class="row">
        <div [ngClass]="['col', 'card']">
            <h3>Password Generator</h3>
            <form>
                <div class="form-floating mb-3" >
                    <input type="text" class="form-control" id="floatingInput" style="width: min-content; text-align: center;" maxlength="2" (keyup)="addProperties('input', $event)">
                    <label for="floatingInput" style="width: max-content;">Enter the number of characters</label>
    
                    <br>
                    <p style="color: white; font-weight: 600;">Select properties:</p>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="numbers" style="cursor: pointer;" (change)="addProperties('numbers', $event)">
                            <label class="form-check-label" style="color: white; cursor: pointer;" for="numbers">
                                include numbers
                            </label>
                        </div>
            
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="symbols" style="cursor: pointer;" (change)="addProperties('symbols', $event)">
                            <label class="form-check-label" style="color: white; cursor: pointer;" for="symbols">
                                include symbols
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="mayus" style="cursor: pointer;" (change)="addProperties('mayus', $event)">
                            <label class="form-check-label" style="color: white; cursor: pointer;" for="mayus">
                                include mayus
                            </label>
                        </div>
    
                        <br>
                        <button type="button" class="btn btn-primary" (click)="generator()">Generate Password</button>
                        
                    </div>

                   
                </div>

                <p style="color: white; font-weight: 600;" *ngIf="password.length > 0" >Password:</p>
                <button *ngIf="password.length > 0" type="button" class="btn btn-success" (click)="copyText()" title="Copy">{{password}}</button>
            </form>

            
        

        </div>
    </div>    
</div>
